services:
  db:
      image: postgres:16
      env_file:
        - .env
      ports:
        - "5432:5432"
      volumes:
        - postgres_data:/var/lib/postgresql/data
        - ./server/sql:/docker-entrypoint-initdb.d

  server:
    build: ./server
    env_file:
      - .env
    ports:
      - "8080:8080"
    depends_on:
      - db
  
  client-build:
    build: ./client
    volumes:
      - ./artifacts:/output
    profiles:
      - build


volumes:
  postgres_data: